/*Home animations (TEXTS)*/

@keyframes navigation{
    0%{
        margin-top: -5px;
    }

    50%{
        margin-top: 5px;
    }

    100%{
        margin-top: -5px;
    }
}


/*Home animations (COINS)*/

@keyframes coin1 {
    0%{
        transform: rotateX(0deg);
    }

    20%{
        transform: rotateY(-180deg);
        margin-top: 20vh;
    }

    40%{
        transform: rotateY(-360deg);
        margin-top: 35vh;
    }

    60%{
        transform: rotateY(-180deg);
        margin-top: 55vh;
    }

    80%{
        transform: rotateY(-0deg);
        margin-top: 70vh;
    }

    100%{
        transform: rotateY(-180deg);
        margin-top: 85vh;
    }
}


